body{
    background-color: aqua;
}

.content-two{
height: 100%;
position: relative;
}

.content-two-information{
    height: 100%;
}
.arrows{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main{
    border: 1px solid black;
    height: 200px;
    overflow: hidden;
}
#content-two-information-1{
    background-color: red;
}
#content-two-information-2{
    background-color: green;
}
#content-two-information-3{
    background-color: blue;
}
